.test-color{
    background-color: #ff7f50;
    background-color: #32cd32;
    background-color: #6495ed;
    background-color: #ba55d3;
    background-color: #cd5c5c;
    background-color: #ffa500;
    background-color: #ff7f50;
    background-color: #40e0d0;
    background-color: #ff6347;
    background-color: #00fa9a;
    background-color: #ff7f50;
    background-color: #ffd700;
    background-color: #ff00ff;
    background-color: #3cb371;
    background-color: #b8860b;
    background-color: #30e0e0;


    background-color: #C1232B;
    background-color: #B5C334;
    background-color: #87cefa;
    background-color: #E87C25;
    background-color: #7b68ee;
    background-color: #27727B;
    background-color: #FE8463;
    background-color: #9BCA63;
    background-color: #FAD860;
    background-color: #ff69b4;
    background-color: #6b8e23;
    background-color: #F3A43B;
    background-color: #1e90ff;
    background-color: #60C0DD;
    background-color: #FCCE10;
    background-color: #D7504B;
    background-color: #C6E579;
    background-color: #F4E001;
    background-color: #F0805A;
    background-color: #26C0C0;
}